.post-content {
    width: 42vw;
    height: 42vw;
  }
  
  .image-container {
    width: 100%;
    height: 100%;
  }
  
  .post-image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  