.nav_link .nav_text button {
    text-decoration: none;
    color:#eeeeee;
    font-size: 1.4vw;
    font-weight: bold;
    border-radius: 10px;
    padding: 0.7vmin;
  }
  
  .nav_link:hover .nav_text button {
    background-color: #716d6d;
    color: #000000;
    cursor: pointer;
  }

  button {
    background-color: #000000;
    border: none;
  }